// DropCat's special settings
// Another background? #cdd4d9

body {
	background-color: $black;
	color: $white;
	header {
		h1, h3 {
			color: $white;
		}
	}
	h2 {
		color: $white; 
	}
	.primary-app-space {
		color: $black;
		background-color: $white;
		padding-top: 28px;
		padding-bottom: 20px;
		ul {
			&.primary-app-grid {
				
			}
			li {
				&.dc-gridblock{
					padding-bottom: rem-calc(20);
					padding-right: rem-calc(30);
					padding-left: rem-calc(30);
				}
				.item-row {
					border-bottom: 1px solid $iron;
				}
				img {
					margin: 4px;
				}
				p {
					float:left;
					overflow: hidden;
				}
				div {
					overflow: hidden;
				}
				.block-title {
					margin-bottom: 12px; 
				}
			}
		}
	}
	footer {
		h6 {
			color: $white;
		}
	}
}

$body-font-color: $white !default;