// DropCat's special settings
// Another background? #cdd4d9

body {
	background-color: $black;
	color: $white;
	header {
		h1, h3 {
			color: $white;
		}
	}
	h2 {
		color: $white; 
	}
	.primary-app-space {
		color: $black;
		background-color: $white;
		ul {
			padding-top: 26px;
			padding-bottom: 26px;
		}
	}
	footer {
		h6 {
			color: $white;
		}
	}
}

$body-font-color: $white !default;